// scale factor
$medium-desktop-scale-factor: 0.85;
$small-desktop-scale-factor: 0.72;
$tablet-scale-factor: 0.55;
$mobile-scale-factor: 0.38;
$scale-factors: (
  $medium-desktop: $medium-desktop-scale-factor,
  $small-desktop: $small-desktop-scale-factor,
  $tablet: $tablet-scale-factor,
  $mobile: $mobile-scale-factor,
);

// z-index
$z-index-sunburst: 0;
$z-index-confetti: 1;
$z-index-lucky-draw: 2;
$z-index-slot: 3;
$z-index-title: 4;
$z-index-draw-button: 5;
$z-index-settings: 10;
$z-index-winner-modal: 20;

// title
$title-width: 27rem;
$title-margin-top: 1rem;
$title-margin-bottom: 1.5rem;

// reel
$reel-item-height: 3.875rem;

// slot
$slot-width: 56rem;
$slot-height: 5.625rem;
$slot-border-radius: 1.125rem;
$slot-border-width: 0.875rem;
$slot-inner-padding: 0;

// draw-button
$draw-button-margin-top: 1.75rem;
$draw-button-width: 20rem;

// settings
$setting-panel-max-width: 33.125rem; // 530px;

// switch
$switch-handle-diameter: 24px;
$switch-slider-width: 75px;
$switch-slider-height: 30px;
$switch-slider-padding: 3px;
